/* Para telas menores que 768px */
@media screen and (max-width: 768px) {
  .max-width {
    padding: 0 40px;
    text-align: center;
  }

  .navbar .max-width {
    flex-wrap: wrap;
  }

  .navbar .logo {
    width: 100%;
    order: 2;
    margin-bottom: 30px;
  }

  .navbar .logo img {
    display: none;
  }

  .navbar .logo h2 {
    display: inline;
    color: #fff;
  }

  .navbar .menu {
    display: none;
    position: absolute;
    top: 80px;
    order: 3;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #000008;
    text-align: center;
  }

  .logo {
    text-align: center;
  }


  .navbar .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
  }

  .navbar .menu-btn {
    display: none;
  }

  .navbar .menu li {
    display: block;
    margin-bottom: 10px;
  }

  .home .max-width .row {
    flex-wrap: wrap;
    margin-right: -20px;
  }

  .home .home-content {
    width: 100%;
    padding: 0 20px;
  }

  .home .home-content .text-1 {
    font-size: 22px;
  }

  .home .home-content .text-2 {
    font-size: 50px;
    margin-left: -2px;
  }

  .home .home-content .text-3 {
    font-size: 28px;
    margin: 5px 0;
  }

  .auto-typed {
    font-size: 20pt;
    font-weight: 600;
    color: #e4a531;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }

  .right p {
    text-align: center;
  }

  h6 {
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
  }

  li {
    list-style-type: none;
  }

  .left img {
    height: 200px;
    width: 200px;
  }


  @media (max-width: 768px) {

    .area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: black;
    }

    .card {
      width: 100%;
      margin: 10px 0;
      box-sizing: border-box;
      float: none;
    }

    .services,
    #projects {
      height: auto;
    }

    #projects h2 {
      padding-bottom: 50px;
    }

    .carousel {
      width: 100%;
      max-width: 600px;
    }

    .carousel-inner {
      width: 100%;
    }

    .carousel-item {
      max-width: 100%;
      cursor: pointer;
      transition: transform 0.5s;
    }

    .carousel-item img {
      max-width: 100%;
      height: auto;
    }

    h3 {
      text-align: center;
    }



    .home .home-content {
      flex-direction: column;
      text-align: center;
      padding-top: 150px;
    }

    .about-content {
      flex-direction: column;
      text-align: center;
    }

    .left img {
      height: 200px;
      width: 200px;
    }


    .right .text {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .skills {
      height: auto;
      padding-bottom: 50px;
    }

    .skills .col-3 {
      width: 100%;
      margin: 20px 0;
    }

    .progressHtml,
    .progressCss,
    .progressJs {
      width: 50%;
    }

    .progressHtml::before,
    .progressCss::before,
    .progressJs::before {
      width: 90%;
    }

    .footer-text {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /*  Responsividade do background */
    @media (max-width: 768px) {
      .home {
        background-image: url(img/projetos/manopla_vi_c.jpg);
        background-position: center;
      }
    }
  }
}